<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Leaderboard</title>
</head>
<body>
    
    {{!-- <div class="entryData-container">
        <form id="leaderboardForm">
            <label for="name">Enter Name:</label>
            <input type="text" id="name" required>
            <input type="text" id="score" required>
            <button type="button" onclick="getRandScore()">Generate Random Score</button>

            <button type="button" onclick="updateLeaderboard()">Submit Score</button>
        </form>
    </div> --}}

    <div id="leaderboard-title">
        <h1>Leaderboard</h1>

    </div>

    <div class="leaderboard-container">
        
        <table id="leaderboard">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>WPM</th>
                    <th>Date | Time</th>
                </tr>
            </thead>
            <tbody>
    
            </tbody>
        </table>
    </div>
    
    <a id="return-link" href="/"><button id="return-button" class="action-button">Return to Main Page</button></a>

    <script src="leaderboard.js"></script>
</body>
</html>